.points{
    background: rgb(208, 208, 208);
    accent-color: red;
}

.crearHucha{
    display: flex;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.titularHucha{
    text-align: center;
}