/* FooterMenu.css */
.menu {
  width: 100svw;
  height: 12svh;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  padding: 20px 0;
  background-color: #050505;
  box-shadow: 0 5px 90px rgba(0, 0, 0, 0.1); 
  position: fixed;
  bottom: 0;
}

.link {
  color: white;
  text-decoration: none;
}

.menu_item{
  text-align: center; 
}

.menu_item p {
  font-weight: bold;
  font-size: 1.1rem;
}

/* Show footer menu only on mobile */
@media (min-width: 768px) {
  .menu {
      display: none; /* Hide footer menu on larger screens */
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    }
}
