.login-container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 28px rgba(5, 5, 5, 0.1);
    padding: 40px;
    margin: 210px  auto;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s ease;
}

.login-container:hover {
    transform: translateY(-5px);
}

.login-container h1 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #007a87;
    font-family: 'Arial', sans-serif;
}

.login-container p {
    margin-bottom: 20px;
    color: #040404;
    font-family: 'Arial', sans-serif;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    border-color: #007a87;
    box-shadow: 0 0 5px rgba(0, 122, 135, 0.5);
    outline: none;
}

.login-container button[type="submit"] {
    background-color: #007a87;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.login-container button[type="submit"]:hover {
    background-color: #005f62;
    transform: translateY(-2px);
}
