/* Estilos para el componente Login */
.login-container {
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    padding: 30px; /* Espaciado interno */
    margin: 20px auto; /* Márgenes externos */
    max-width: 400px; /* Ancho máximo */
    width: 90%; /* Ancho del 90% para pantallas más pequeñas */
    text-align: center; /* Centrado del contenido */
}

.login-container h1 {
    font-size: 24px; /* Tamaño del texto del título */
    margin-bottom: 10px; /* Espacio debajo del título */
    color: #333; /* Color del texto */
}

.login-container p {
    margin-bottom: 20px; /* Espacio debajo del párrafo */
    color: #666; /* Color del texto */
}

/* Estilos para las entradas */
.login-container input[type="text"], 
.login-container input[type="password"] {
    width: 100%; /* Ancho completo para los inputs */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ced4da; /* Borde ligero */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espacio entre inputs */
    transition: border-color 0.3s; /* Transición suave */
    font-size: 16px; /* Tamaño del texto */
}

/* Estilos para el foco en las entradas */
.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
    border-color: #007a87; /* Color del borde al enfocar */
    outline: none; /* Sin borde de enfoque */
}

/* Estilos para el botón de envío */
.login-container button[type="submit"] {
    background-color: #007a87; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 12px 25px; /* Espaciado del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
    transition: background-color 0.3s; /* Transición suave */
    font-size: 16px; /* Tamaño del texto del botón */
    width: 100%; /* Botón del mismo ancho que las entradas */
    max-width: 200px; /* Ancho máximo del botón */
    margin-top: 10px; /* Espacio superior */
}

/* Cambio de color del botón al pasar el ratón */
.login-container button[type="submit"]:hover {
    background-color: #005f62; /* Color más oscuro al pasar el ratón */
}

/* Media query para dispositivos móviles */
@media (max-width: 600px) {
    .login-container {
        padding: 20px; /* Espaciado interno reducido */
        width: 95%; /* Ancho del 95% para pantallas más pequeñas */
    }

    .login-container h1 {
        font-size: 20px; /* Tamaño del texto del título más pequeño */
    }

    .login-container button[type="submit"] {
        font-size: 14px; /* Tamaño del texto del botón más pequeño */
    }
}
