/* Header.css */
.navbar {
    background-color: #fdfbfb; 
    color: #000000; 
    padding: 10px 20px; 
    transition: background-color 0.3s ease;
}

.navbar-brand img {
    height: 60px; 
}


.form-control {
    width: auto; 
    min-width: 150px; 
}

.btn-outline-success {
    margin-left: 5px; 
}


.navbar-nav {
    display: flex; 
    margin: 0; 
    padding: 0;
}

.nav-item {
    margin: 0 15px; 
}

.nav-link {
    color: #000000; 
    text-decoration: none;
    transition: color 0.3s ease; 
}

.nav-link:hover {
    color: #007A87; 
}

/* Стили для гамбургера */
.navbar-toggler {
    background: transparent; 
    border: none; 
}


.navbar-toggler-icon {
    display: inline-block;
    width: 30px; 
    height: 30px; 
    background-color: #000; 
    border-radius: 3px; /
}


@media (max-width: 768px) {
    .navbar {
        background-color: #000000; 
    }

    
    .navbar-brand img {
        filter: brightness(0) invert(1); 
    }

    .navbar-nav {
        flex-direction: column; 
        align-items: center; 
        display: none; 
    }

    .navbar-nav.show {
        display: flex; 
    }

    .nav-link {
        color: #ffffff; 
        padding: 10px 0;
    }

    .nav-link:hover {
        color: #007A87; /
    }

    .navbar-toggler {
        display: block;
    }
}


@media (min-width: 769px) {
    .navbar-toggler {
        display: none; 
    }
}


.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
    display: flex; 
    flex-wrap: nowrap; 
    align-items: center;
    justify-content: space-between; 
}

