/* CSS styles to adjust layout for mobile and larger screens */
/* CardComponent.css */
.card {
    cursor: pointer;
    text-align: center;
  }
  
  @media (max-width: 767.98px) {
    .card-body p {
      text-align: left;
    }
  }
  .resources-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .resource-card {
    text-decoration: none;
    text-align: center;
    width: 150px;
    display: block;
  }
  
  .resource-image {
    width: 100%;
    height: auto;
  }
  
  .resource-title {
    margin-top: 10px;
    font-size: 1rem;
    color: #000;
    font-weight: bold;
  }
  
  .resource-card {
    text-decoration: none;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .resource-card:hover {
    transform: scale(1.05);
  }
  
  .resource-image {
    width: 100%;
    height: auto;
  }
  
  .list-group-item a {
    text-decoration: none;
    color: inherit;
  }
  
  .list-group-item img {
    width: 100px;  /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
  }
  